.main-div {
    background-color:#f4fcf8;
    padding-top: 350px;
}
.home-name{
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 100px; 
    color: #333333;  
    font-weight: 50px;
   
  

}
@media only screen and (max-width: 900px) {
    header {
      min-width: 100%;
    }
  }