a.nav-link {
  color: black;
}
.nav-tabs {
    background-color:#f4fcf8;
    border-radius: 30px;
    padding: 15px;
    border: thin white solid;
}
.nav-tabs a:hover {
    color: #D99E89;  
}

@media screen and (max-width: 600px) {
    .nav-tabs a {
      float: none;
      width: 100%;
    }
  }
