
.portfolio-div {
    background-color:#f4fcf8;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  
}
.portfolio-title {
text-align: center;
color: #333333;  
font-size: 100px;

}
.sous-chef{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
  
}
img{
    max-width:50%;
    height:auto;
    margin: 15px;
    border-color: #768849;
    border-style: outset;
    border-radius: 10px;
    
}

    
       
    





@media only screen and (max-width: 900px) {
    header {
      min-width: 100%;
    }
  }